.CustomeTable__headerContainer {
  display: flex;
  margin: 10px 15px;
  align-items: flex-end;
  justify-content: space-between;
  border-radius: 4px 4px 0px 0px;
}

.CustomeTable__button {
  margin: 0 5px !important;
}
