.Container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.Content {
    display: block; 
    margin: 40px;
}

.double-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.MuiTableCell-root {
    padding: 0px !important;
}

.MuiTableCell-head {
    color: white !important;
    background: #4555b7;
}