.EmptyState__TableContainer__NoResultsMessage {
  text-align: center;
  font-weight: 500;
  padding: 25px;
  border-radius: 4px;
  color: gray;
}

.EmptyState__TableContainer__NoResultsMessage span {
  position: relative;
}

.EmptyState__TableContainer__NoResultsMessage::after {
  left: auto;
  right: 5px;
}

.progressContainer {
  min-height: 200px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}
